import(caTools, parallel, graphics, stats, Rcpp)
importFrom("utils", "installed.packages", "write.table")
S3method(t.find.min.saturated.enr,SPPGenerics,"t.find.min.saturated.enr")
S3method(points.within,SPPGenerics,"points.within")
S3method(t.plotavcc,SPPGenerics,"t.plotavcc")
S3method(t.plotavccl,SPPGenerics,"t.plotavccl")
S3method(t.plotcc,SPPGenerics,"t.plotcc")
S3method(t.plotchrcc,SPPGenerics,"t.plotchrcc")
S3method(t.plotchrccl,SPPGenerics,"t.plotchrccl")
S3method(t.precalculate.ref.peak.agreement,SPPGenerics,"t.precalculate.ref.peak.agreement")
S3method(window.chr.call.mirror.binding,SPPGenerics,"window.chr.call.mirror.binding")
S3method(window.call.mirror.binding,SPPGenerics,"window.call.mirror.binding")
S3method(window.tag.count,SPPGenerics,"window.tag.count")
S3method(window.tag.count.around,SPPGenerics,"window.tag.count.around")
S3method(lwcc,SPPGenerics,"lwcc")
S3method(wtd,SPPGenerics,"wtd")
useDynLib(spp,.registration = TRUE)